<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/kaanalpar"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/kaanalpar"><i class="fab fa-instagram"></i></a>
    <a href="https://linkedin.com/kaanalpar"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Cocktails by Kaan 2019 &copy;
  </div>
</div>
