<%= simple_form_for :search, url: "#", method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="banner-typed-text" />
    <%= link_to "#newest", class: 'btn btn-flat' do %>
      <i class="fas fa-search"></i> Search
    <% end %>
  </div>
<% end %>

